@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-geist-inter);
  --font-dmSans: var(--font-geist-dmSans);

  --breakpoint-tablet: 970px;

  --color-grey: #64748b;
  --color-primary: #179ece;
}

:root {
  --background: #fdfffe;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dmSans);
}
